---
layout: default
title: Events
permalink: /events
navigation_weight: 3
---

{% include wrap.html bg='headerbg-slim-b'%}

<div class="container content-wrap">
    <div class="row">

        <div class="col-lg-12">

           {% assign sorted = (site.posts | sort: 'event_date') %}
           {% assign current_month = "" %}
           <ul>
            {% for event in sorted %}
              {% if event.event_date %}
                {% assign event_month = (event.event_date | date: "%B")%}
                {% if current_month != event_month %}
                  {% assign current_month = event_month %}
                  </ul>
                  <h2>{{current_month}}</h2>
                  <hr class="hline">
                  <ul id="rig">
                {% endif %}

                <li>

                  <div class="text-center">
                    <h4>{{event.event_date | date: "%A %-d" }} - {{event.title}}</h4>
                  </div>
                  <a class="rig-cell" href="#">
                      <img class="rig-img" src="{{ "/assets/img/blog/" | prepend: site.github.url }}{{ event.image }}" alt="">
                      <span class="rig-overlay"></span>
                      <span class="rig-text">
                        {{event.summary}}
                        <br>
                        {% for tag in event.tags %}
                          #{{tag}}&nbsp;
                        {% endfor %}
                      </span>
                  </a>
                </li>

              {%endif%}
            {% endfor %}

        </div><!--/col-lg-12 -->

    </div><!--/row -->
</div><!--/container -->
