



// Colors:

$gradientA: #282C34;
$gradientB: #282C34;

$basic_console: #282C34;

$pastel_green: #98C379;
$pastel_red: #E06C75;
$pastel_purple: #C678DD;
$pastel_blue: #55B5C0;

$footer_heading: #ffffff;
$footer_content: #bfc9d3;

$detail_grey: #b3b3b3;

// Basic Fonts:
$font_color: $basic_console;
$font_size: 14px;
$font_weight: 400;
$font_family: 'Raleway';
$line_height: 24px;

// Links
$link: $pastel_blue;
$link_hover: $pastel_blue;
$link_hover_decoration: underline;

// Headings
$heading_family: 'Raleway';
$heading_weight: 400;

// Navbar
$navbar_font_size: 12px;
$navbar_font_color: white;
$navbar_font_active: $pastel_green;
$navbar_font_weight: 700;

// Whitespace
$element-margin-top: 10px;
$element-margin-bottom: 16px;
$element-hpadding: 20px;

$wrapper-margin-top: 50px;
$wrapper-margin-bottom: 25px;
