<div class="container content-wrap">
  <div class="row">
    <div class="col-md-12">
      <h3>Latest Posts</h3>
      <hr class="hline">
      <ul id="rig">
        {% for event in site.posts limit:include.limit %}
        <li>
            <a class="rig-cell" href="{{event.url}}">
                <img class="rig-img" src="{{ '/assets/img/blog/' | prepend: site.github.url }}{{ event.image }}" alt="">
                <span class="rig-overlay"></span>
                <span class="rig-text">{{event.title}}</span>
            </a>
        </li>
        {% endfor %}
      </ul><!-- end col-12 -->
    </div>
  </div>
</div><!--/eventgridwrap -->
