<header>
  <div id="headerbg">
    <div class="container">
        <div class="row text-center">

          <div class="col-lg-8 col-lg-offset-2 himg">
              <img src="{{ '/assets/img/logo_header.png' | prepend: site.baseurl | prepend: site.url }}" class="img-responsive">
          </div>

          <div class="col-lg-8 col-lg-offset-2">
              <h1>Tu comunidad de desarrolladores en Albacete</h1>
          </div>

        </div><!-- /row -->
    </div> <!-- /container -->
  </div>
</header><!-- /headerwrap -->
