<header>
    <div class="container">
        <div class="row">

          <div class="col-lg-8 col-lg-offset-2 himg">
              <img src="{{ "/assets/img/logo_header.png" | prepend: site.baseurl }}" class="img-responsive">
          </div>

          <div class="col-lg-8 col-lg-offset-2">
              <h1>Your software community in Albacete.</h1>
              <h3>More Lorem Ipsum added here too.</h3>
              <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
          </div>


        </div><!-- /row -->
    </div> <!-- /container -->
</header><!-- /headerwrap -->
