<div class="container content-wrap">
    <div class="row">
        <div class="col-lg-12 text-center">
          <h1>Quiénes Somos</h1>
          <p class="big-quote">
            Una comunidad enfocada a todos los profesionales y estudiantes en Albacete.
            El objetivo es organizar <b>meetups</b> y <b>eventos divulgativos</b> sobre temas de interés, compartiendo
            experiencia y conocimientos.
          </p>
          <a class="btn btn-theme" href="https://gitter.im/blankspacedev/general?utm_source=share-link&utm_medium=link&utm_campaign=share-link" target="_blank">
            Únete a la conversación en gitter
          </a>
        </div>
    </div><!--/row -->
</div><!--/container -->
