<div class="texture-wrap">
  <div class="texture-wrap-bg">
    <div class="container">
        <div class="row text-center services">
            <div class="col-sm-4">
                <i class="fa fa-comment"></i>
                <h4>Comunidad</h4>
                <p>Nuestro objetivo es formar una comunidad de desarrolladores en la que todos podamos participar para aportar experiencia y nuevas ideas.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-beer"></i>
                <h4>Tutoriales y Meetups</h4>
                <p>Realizamos eventos de carácter divulgativo y práctico para hablar de diferentes tecnologías que estén marcando tendencia en su uso profesional.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-rocket"></i>
                <h4>Proyectos</h4>
                <p>Fomentaremos la creación de proyectos de software libre buscando a la vez el impacto en la comunidad y en el curriculum de nuestros miembros.</p>
                <p><br/><a  class="btn btn-theme" disabled="disabled">Próximamente</a></p>
            </div>
        </div>
    </div><!--/container -->
  </div><!--/bg -->
</div><!--/service -->
