<div class="post">

    <h4>Feed <i class="fa fa-rss"></i> </h4>
    <div class="hline"></div>
      <p>
        <p class="rss-subscribe">Suscribirse al blog <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">vía RSS</a>.</p>
      </p>
      <div class="spacing"></div>


    <h4>Categorías</h4>
    <div class="hline"></div>
    {% for category in site.categories %}
      <p>
          <a href="{{ '/blog/category/' | prepend: site.baseurl | prepend: site.url }}{{ category | first }}">
            <i class="fa fa-angle-right"></i> {{ category | first | capitalize }}
          </a>
          <span class="badge badge-theme pull-right">{{ category | last | size }}</span>
      </p>
    {% endfor %}
    <div class="spacing"></div>


    <h4>Publicaciones Recientes</h4>
    <div class="hline"></div>
    <ul class="popular-posts">
        {% for post in site.posts limit:4 %}
            <li>
                <a href="{{ post.url  | prepend: site.baseurl | prepend: site.url}}"><img src="{{ post.thumb | prepend: site.baseurl | prepend: site.url }}" alt="Popular Post"></a>
                <p><a href="{{ post.url }}">{{ post.title }}</a></p>
            <span class="csmall">Publicado el {{ post.date | date_to_string }}</span>
        </li>
        {% endfor %}
    </ul>
    <div class="spacing"></div>

    <h4>Etiquetas Populares</h4>
    <div class="hline"></div>
    <p>
      {% capture tags %}
        {% for tag in site.tags %}
          {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
        {% endfor %}
      {% endcapture %}
      {% assign sortedtags = tags | split:' ' | sort %}
      {% for tag in sortedtags reversed %}
          {% assign tagitems = tag | split: '#' %}
          <a class="btn btn-theme" href="{{ '/blog/tag/' | prepend: site.baseurl | prepend: site.url }}{{ tagitems[1] }} " role="button">#{{ tagitems[1] }} ({{ tagitems[2] }})</a>
      {% endfor %}



    {% for tag in site.tags %}

    {% endfor %}
    </p>
    <div class="spacing"></div>

</div>
