<div id="twrap">
    <div id="twrapback"></div>
    <div class="container centered">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            <i class="fa fa-comment-o"></i>
            <h2>We Do Software!</h2>
            <p>
              <b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
            </div>
        </div><!--/row -->
    </div><!--/container -->
</div><!--/twrap -->
