<footer>
    <div class="container">
        <div class="row">

          <div class="col-sm-4">
              <h4>Sobre nosotros</h4>
              <div class="hline-w"></div>
              <p>{{ site.about }}</p>
          </div>

          <div class="col-sm-4">
              <h4>Social</h4>
              <div class="hline-w"></div>
              <p>
                  {% for network in site.data.social %}
                      <a href="{{ network.url }}"><i class="fa fa-2x fa-{{ network.icon }}"></i></a>
                  {% endfor %}
              </p>
          </div>

          <div class="col-sm-4">
              <h4>Encuentranos</h4>
              <div class="hline-w"></div>
              <p>
                Escuela Superior de Ingeniería Informática <br>
                Albacete, España <br>
                contact@blankspacedev.com
              </p>
          </div>

        </div> <!-- End row -->
    </div> <!-- End container -->
</footer>
