---
layout: blog
parent_nav_url: /blog/
---

{% if site.tags[page.slug] %}
    {% for post in site.tags[page.slug] %}
        <!-- Blog Post -->
        <h3 class="ctitle"><a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a></h3>

        <a href="{{ post.url | prepend: site.github.url }}">
            <img class="img-responsive" src="{{ post.image  | prepend: site.github.url}}">
        </a>

        <p class="csmall">{{ post.date | date: "%b %-d, %Y" }}. | By: {{ post.author }}</p>
        {{ post.excerpt }}
        <p><a href="{{ post.url | prepend: site.github.url }}">[Read More]</a></p>
        <div class="hline"></div>

        <div class="spacing"></div>
    {% endfor %}
{% endif %}
