---
layout: default
wrap_title: Blog
parent_nav_url: /blog/
---

{% include wrap.html bg='headerbg-slim-p'%}

<div class="container content-wrap">
    <div class="row">

        <!-- SINGLE POST -->
        <div class="col-md-8">

            <!-- Blog Post  -->
            <h3 class="ctitle">{{ page.title }} <small>{{ page.date | date: "%b %-d, %Y" }}. | Por: {{ page.author }}</small></h3>
            <h5></h5>
            <h4>Publicado en <a href="{{ '/blog/category/' | prepend: site.github.url }}{{ page.categories | first }}">{{page.categories}}</a></h4>
            {% for tag in page.tags %}
            <a class="btn btn-theme btn-xs" href="{{ '/blog/tag/' | prepend: site.github.url }}{{ tag }}">
              #{{tag | capitalize}}
            </a>
            {%endfor%}
            <hr>
            <p><img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.github.url }}{{ page.image }}"></p>

            <div class="share">
                Comparte:
                <span class="pull-right">
                    <a href="https://twitter.com/home?status={{page.url| prepend: site.github.url }}">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{page.url| prepend: site.github.url }}">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{page.url| prepend: site.github.url }}&title={{page.title}}">
                      <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://plus.google.com/share?url={{page.url| prepend: site.github.url }}">
                      <i class="fa fa-google-plus"></i>
                    </a>
                </span>
              </div>
            <hr>

            {% if page.event_date %}
              <h3>Evento</h3>
              <h4>{{page.event_date | date: "%A %-d, %B"}}</h4>
              <h4>{{page.event_location}} - {{page.event_hour}}</h4>
            {% endif %}

            <div class="spacing"></div>

            {{ content }}

        </div><!--/col-lg-8 -->

        <!-- The main difference with blog layout is that the sidebar behaves differently -->
        <div class="col-md-4">
          {% include sidebar.html %}
        </div>

    </div><!--/row -->
</div><!--/container -->
